.hiddenn{
    opacity: 0;
    filter: blur(15px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

/*Quadros*/
.quadros :nth-child(2){
    transition-delay: 400ms;
}
.quadros :nth-child(3){
    transition-delay: 800ms;
}