@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=PT+Serif:ital@1&family=Secular+One&display=swap');

body{
    background-color:#1A1A21;
    color:white;
    overflow-x:hidden;
}

.tecnologias{
    display:inline-block;
    width:90px;
    height:32px;
    margin-top:10px;
    margin-left:5px;
    border-style:solid;
    border-color:#03CFB0;
    border-width:2px;
    border-radius:3px;
    background-color:transparent;
}
    .tecnologias:hover{
        border-color:#386DBD;
        width:100px;
        height:35px;
    }
.tecnologiasTexto{
    margin-top:5px;
    color:white;
}
    .tecnologiasTexto:hover{
        color:#03CFB0;
    }

#div1{
    display:none;
}