@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=PT+Serif:ital@1&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body,html{
    /*background-color:#1A1A21;*/
    overflow-x:hidden;
}

/*----------------- Topo da página -----------------*/

.banner{
    background-color: #222325d0;
    filter: blur();
    font-family: 'Secular One', sans-serif;
    font-size: 1.1rem;
    color: #FFF;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.banner-full{
    background-color: #03CFB0;
    display: inline-block;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2rem;
    color: #070707;
}
.banner-fundo-imageCSHARP{
    display: flex;
    position: relative;
    top: 23rem;
    left: 52rem;
    justify-content: center;
    background-color: #1A1A21;
    border-radius: 50%;
    width: 6em; height: 6em;
    z-index: 99999;
}
.banner-fundo-imageJS{
    display: flex;
    position: relative;
    top: 27rem;
    left: 18rem;
    justify-content: center;
    background-color: #1A1A21;
    border-radius: 50%;
    width: 9em; height: 9em;
    z-index: 99999;
}
.banner-fundo-imageHTML{
    display: flex;
    position: relative;
    left: 30rem;
    justify-content: center;
    background-color: #1A1A21;
    border-radius: 50%;
    width: 5em; height: 5em;
    z-index: 99999;
}
.banner a{
    color: #03CFB0;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.banner-project{
    position: fixed;
    bottom: 1rem;
}
.banner-project span{
    font-size: 25px;
    margin-right: 0.5rem;
}
.banner-project-anos{
    margin-right: 8rem;
}
.banner-circulo{
    display: flex;
    position: fixed;
    right: 15rem;
    width: 30em; height: 30em;
    background-color: #1a1a21cb;
    border-radius: 50%;
    z-index: 0;
    color: #03CFB0;
}
.banner-perfil{
    width:360px;
    border-radius:50%;
    border-style:solid;
    border-color:#1A1A21;
    border-width:1em;
    position: relative;
}

/*----------------- Opções Full Stack -----------------*/

.apresentação-fullstack{
    color: #FFF;
    font-family: 'Secular One', sans-serif;
}
.apresentação-fullstack-opcoes{
    background-color: #222325d0;
    padding: 1rem;
    padding-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
    .apresentação-fullstack-opcoes:hover{
        background-color: #2D2E32;
        transition: ease-in 0.2s;
    }
    .apresentação-fullstack-opcoes:hover a{
        color: #03CFB0;
        text-decoration: underline;
    }
    .apresentação-fullstack-opcoes:hover img{
        width: 2.5rem;
        transition: ease-in 0.2s;
    }
.apresentação-fullstack img{
    width: 2rem;
    position: absolute;
    right: 5rem;
}
.apresentação-fullstack a{
    text-transform: uppercase;
    font-size: 1rem;
}

.buton{
    margin-top:90px;
    background-color:#03CFB0;
    width:132px;
    height:34px;
    border-radius:30px 15px 15px 0px;
    border-style:none;
}

.buton:hover{
    background-color:#808080;
}

.botoes{
    background-color:transparent;
    border-color:#03CFB0;
    margin-left:5px;
}

.download{
    margin-top:30px;
    background-color:#03CFB0;
    color:white;
    width:190px;
    height:35px;
    border-radius:15px;
    padding-top:6px;
    padding-left:18px;
}
.download:hover{
    width:210px;
    height:40px;
    padding-left:24px;
    padding-top:10px;
    font-size:15px;
    transition:width .3s;
    transition:height .3s;
    transition:font-size .3s;
    border-radius:25px;
}

.quadro{
    margin-top:100px;
    margin:auto;
    border-style:solid; 
    border-color:#03CFB0; 
    border-width:2px;
    width:244px;
}
/*        .quadro:hover{
    margin-top:50px;
    transition:margin-top .5s;
}*/
.quadro img{
    margin-top:10px;
}
.quadro h3{
    font-family: 'Secular One', sans-serif; 
    color:white; 
    margin-top:4px;
    margin-bottom:15px;
}
.quadro p{
    font-family: 'Secular One', sans-serif;
    color:white;
    margin-top:4px;
    margin-bottom:15px;
    font-size:15px;
}
.botao_SaibaMais{
    width:80%;
    margin-bottom:10px; 
    border-style:solid; 
    border-color:#03CFB0; 
    border-width:2px; 
    border-radius:2px;
    font-family: 'Secular One', sans-serif; 
    color:white;
}
.botao_SaibaMais a{
    text-transform:uppercase;
    text-decoration:none;
}
.botao_SaibaMais p{
    padding-top:5px;
}

.conteudo_borda{
    width:50px;
    height:50px;
    background-color:#03CFB0;
    border-radius:50%;
    border-width:1px;
    border-color:white;
    border-style:solid;
}

.infor h3{
    color:white; 
    font-size:20px;
    filter:drop-shadow(black 2px 2px 2px);

}
.infor p{
    color:white; 
    font-size:15px;

}
.infor h6{
    color:#03CFB0; 
    font-size:16px; 
    filter:drop-shadow(black 2px 2px 2px);
}

.informacoes h3{
    margin-top:20px;
}
.informacoes p{
    margin-bottom:25px;
}

.recentes{
    width:290px; 
    height:184px; 
    border-radius:7px;
}
/*        .recentes:hover{
    margin-top:15px;
    transition:margin-top 0.1s;
}*/

.logos{
    width:80px;
}

.fundo{
    background-color:#D9D9D9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
}

.fundo .row{
    margin-left: 10vh;
}

.fundo h1 h2{
    text-transform: uppercase;
    font-weight: bold;
}

.fundo p{
    width: 40%;
}

.fundo img{
    filter: drop-shadow(2px 2px 2px);
}

.apresentacao{
    position: absolute;
    align-self: flex-end;
    right: 0;
}

.quadro1{
    margin-left:130px;
    margin-right:25px;
}
.quadro3{
    margin-left:25px;
}
.quadro4{
    margin-left:145px; 
    margin-right:25px;
}
.quadro6{
    margin-left:25px;
}

.div1{
    display:block;
    width:80%; 
    height:230px; 
    border-style:solid; 
    border-width:3px;
    border-color:#03CFB0; 
    margin-bottom:50px;
    border-radius:3px;
}

.orcamento:hover{
    background-color:#00b4fc;
}

.precisa{
    width:493px; 
    height:215px; 
    color:hsl(0, 50%, 50%); 
    border-color:#00B4CC; 
    border-style:solid;
    border-radius:20px;
    margin-top:70px;
    font-family: 'Secular One', sans-serif;
}
.precisa h3{
    text-transform:uppercase; 
    text-align:center;
    color:white; 
    font-size:20px;
    margin-top:40px;
    margin-left:30px;
    margin-right:30px;
}
.precisa a{
    text-decoration:none;
}
.orcamento{
    background-color:#386DBD; 
    width:220px;
    height:43px; 
    margin-left:131px;
    border-radius:30px; 
    margin-top:30px;
}

@media screen and (max-width:480px) and (min-width:320px){
    /*Celular*/
    body{
        background-color:#1A1A21;
        overflow-x: hidden;
    }

    .banner{
        height: 100;
        filter: blur();
        background-attachment:scroll;
    }

    .escrita{
        margin-left:30px;
    }

    .pedro{
        margin:auto;
    }

    .botoes{
        color:white;
        margin-bottom:10px;
    }

    .banner-perfil{
        width:280px;
    }

    .notebook{
        width:280px;
    }

    .botoes_WindowsForms{
        display:none;
    }

    .download{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .imagens{
        display: none;
    }

    .apresentacao{
        height: 38vh;
    }

    .quadro{
        margin-top:10px;
        margin-bottom: 15px;
    }

    .quadros{
        margin:auto;
    }
    .quadro1{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro2{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro3{
        margin:auto;
    }
    .quadro4{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro5{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro6{
        margin:auto;
    }

    .fundo .row{
        margin-left: 0vh;
    }

    .fundo p{
        width: 90%;
    }

    .imgLogosLing{
        width: 10vh;
    }
    
    .precisa{
        width:270px;
        height:180px;
        margin-bottom: 50px;
    }
    .precisa h3{
        margin-top:20px;
    }
    .orcamento{
        width:180px;
        height:40px;
        margin:auto;
    }

    .banner{
        height: 100%;
        padding-bottom: 2rem;
    }
}

@media screen and (min-width:481px) and (max-width:768px){
    /*Tablet*/
    body{
        /*background-color:#1A1A21;*/
        background-color:yellow;
        overflow-x: hidden;
    }

    .banner{
        height: 100%;
        padding-bottom: 2rem;
    }

    .escrita{
        margin-left:30px;
    }

    .pedro{
        margin:auto;
    }

    .botoes{
        color:white;
        margin-bottom:10px;
    }

    .botoes_WindowsForms{
        display:none;
    }

    .download{
        margin:auto;
        margin-top:10px;
    }

    .quadro{
        margin-top:10px;
    }

    .quadros{
        margin:auto;
    }
    .quadro1{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro2{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro3{
        margin:auto;
    }
    .quadro4{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro5{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro6{
        margin:auto;
    }
    
    .precisa{
        width:270px;
        height:180px;
    }
    .precisa h3{
        margin-top:20px;
    }
    .orcamento{
        width:180px;
        height:40px;
        margin:auto;
    }
}

@media screen and (min-width:780px) and (max-width:1024px){
    /*Laptop*/
    body{
        /*background-color:gray;*/
        background-color:#1A1A21;
        overflow-x: hidden;
    }

    .banner-perfil{
        width: 260px;
    }

    .notebook{
        margin-left: 0vh;
        width: 270px;
    }

    .escrita{
        margin-left:50px
    }

    .recentes{
        margin:1vh;
        margin-left: 5vh;
    }

    .quadros{
        display:flex;
        margin-top:50px
    }

    .quadro1{
        display: none;
    }

    .quadro4{
        display: none;
    }

    .quadro5{
        margin-left: 6vh;
    }

    .precisa{
        width:340px;
    }

    .orcamento{
        margin: auto;
        margin-top: 2vh;
    }


}

@media screen and (min-width:1025px) and (max-width:1200px){
    /*Desktops*/
    body{
        background-color:blueviolet;
        overflow-x: hidden;
    }

    .banner-perfil{
        margin-right:50%;
    }

    .escrita{
        margin-left:50px
    }

    .notebook{
        width:300px;
    }

    .quadros{
        display:flex;
        margin:auto;
        margin-top:50px;
    }

    .quadro1{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro2{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro3{
        margin:auto;
    }
    .quadro4{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro5{
        margin:auto;
        margin-bottom:10px;
    }
    .quadro6{
        margin:auto;
    }
}

@media screen and (min-width:1201px){
    /*Tvs*/
    body{
        background-color:#1A1A21;
        overflow-x: hidden;
    }

    .quadros{
        display:flex;  
        margin-top:70px;
    }
}